@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(34, 34, 34);
}
.navbar-brand {
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.navbar-brand span{
    color: rgb(5, 212, 5);
}
.navbar {
    padding: .3rem;
}

/* add your style here  */

.wrapper {
   background-color: rgb(54, 57, 63);
   width:500px;
   padding: 25px;
   margin: 50px auto 0;
   border-top: 5px solid rgb(5, 212, 5);
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
   color: white;
   margin-bottom: 50px;
 }
 .wrapper a{
   color: rgb(5, 212, 5);
   text-decoration: none;
 }
 .wrapper a:hover{
   color: rgb(7, 161, 7);
   text-decoration: none;
 }
 .wrapper h2{
   font-size: 24px;
   line-height: 24px;
   padding-bottom: 30px;
   text-align: center;
   color: white;
 }
 .wrapper h3{
   font-size: 20px;
   margin-bottom: 20px;
   margin-top: 15px;
 }
 .input-name{
   width: 90%;
   position: relative;
   margin: 20px auto;
   
 }
 .name{
   width: 100%;
   padding:8px 0 8px 40px;
 }
 .name{
   border: 1px solid #cccccc;
   outline: none;
   -webkit-transition: all 0.30s ease-in-out;
   -moz-transition: all 0.30s ease-in-out;
   -ms-transition: all 0.30s ease-in-out;
   transition: all 0.30s ease-in-out;
 }
 .name:focus{
   -webkit-box-shadow: 0 0 2px 1px rgba(19, 19, 18, 0.5);
     -moz-box-shadow: 0 0 2px 1px rgba(19, 19, 18, 0.5);
     box-shadow: 0 0 2px 1px rgba(19, 19, 18, 0.5);
     border: 1px solid rgb(29, 28, 28);
     background: #fafafa;
 }
 *,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-webkit-keyframes check {
   0% { height: 0; width: 0; }
   25% { height: 0; width: 7px; }
   50% { height: 20px; width: 7px; }
 }
 
 @keyframes check {
   0% { height: 0; width: 0; }
   25% { height: 0; width: 7px; }
   50% { height: 20px; width: 7px; }
 }
 .button{
   background:rgba(14, 14, 13, 0.966);
   height: 35px;
   line-height: 35px;
   width: 100%;
   border: none;
   outline: none;
   cursor: pointer;
   color: #fff;
   font-size: 18px;
   margin-bottom: 10px;
   
 }
 
 
 .button:hover{
     background-color: rgba(46, 46, 44, 0.952);
 }
 @media (max-width: 480px) {
  .wrapper{
      width: 100%;
  }
  .input-name{
      margin-bottom: -10px;
  }
  .name{
      width: 100%;
      padding:8px 0 8px 40px;
      margin-bottom: 10px;
  }
  .input-name span{
      padding: 0;
      margin:0;
  }
}





/* footer */

footer {
    background-color: rgb(54, 57, 63);
    color: rgb(213, 213, 213);
    padding-top: 2rem;
}
#footer span{
    color: rgb(5, 212, 5);
}
hr.light {
    border-top: 1px solid rgb(213, 213, 213);
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}