@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(34, 34, 34);
}
.navbar-brand {
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.navbar-brand span{
    color: rgb(5, 212, 5);
}
.navbar {
    padding: .3rem;
}


.card{
    background-color: rgb(54, 57, 63);
    border-radius: 15px;
    box-shadow: 4px 4px 20px #00000080;
    margin-bottom: 20%;
}
label {
    color: #fcfcfc;
    font-size: 24px;
}
h3 {
    text-align: center;
    color: white;
    padding: 20px;
}

footer {
    background-color: rgb(54, 57, 63);
    color: rgb(213, 213, 213);
    padding-top: 2rem;
}
#footer span{
    color: rgb(5, 212, 5);
}
hr.light {
    border-top: 1px solid rgb(213, 213, 213);
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
hr.light-100{
    border-top: 1px solid rgb(213, 213, 213);
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
#reset-message{
    display: none;
    margin-bottom: 30%;
    color: rgb(213, 213, 213);
    font-size: 24px;

}

@media (max-width: 480px) {
    .wrapper{
        width: 100%;
    }
    .input-name{
        margin-bottom: -10px;
    }
    .name{
        width: 100%;
        padding:8px 0 8px 40px;
        margin-bottom: 10px;
    }
    .input-name span{
        padding: 0;
        margin:0;
    }
    
  }